.form {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 200px;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1rem ;
  width:600px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form input{
    width: 70%;
    padding:0.3rem;

}


.form button{
    width:30%;
    outline:none;
    border: none;
    background-color: purple;
    color:white;
    padding:0.5rem 1rem;


}

.form button:hover{
    background-color: rgba(128, 0, 128, 0.938);
}
